# Default ignored files
/shelf/
/workspace.xml
.idea/
# Datasource local storage ignored files
/../../../../../../:\Users\semit\IdeaProjects\50_popular_coding_interview_problems_course\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
